<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns/music#">
<head>
  <title><%= tags[:artist] || 'Unknown artist' %> – <%= tags[:title] %>  [verdure]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="<%= tags[:artist] || 'Unknown artist' %> – <%= tags[:title] %>" />
  <meta property="og:type" content="music.song" />
  <meta property="og:url" content="<%= ENV['OGP_BASE_PATH'] %>/<%= filename %>" />
  <meta property="og:image" content="<%= ENV['OGP_BASE_PATH'] %>/static/<%= filename %>" />
  <meta property="og:audio" content="<%= ENV['OGP_BASE_PATH'] %>/static/<%= filename %>.ogg" />
  <meta property="og:audio:secure_url" content="<%= ENV['OGP_BASE_PATH'] %>/static/<%= filename %>.ogg" />
  <meta property="og:audio:type" content="audio/ogg" />
  <meta property="music:duration" content="<%= tags[:duration].to_i %>" />
  <% unless tags[:artist].nil? %><meta property="music:musician" content="<%= tags[:artist] %>" /><% end %>
  <% unless tags[:album].nil? %>
    <meta property="music:album" content="<%= tags[:album] %>" />
    <% unless tags[:track].nil? %><meta property="music:album:track" content="<%= tags[:track] %>" /><% end %>
  <% end %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Zen+Maru+Gothic:wght@400;700;900&display=swap" rel="stylesheet">
  <style>
    body {
      padding: 0;
      margin: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }

    section {
      padding: 1.5em;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    #cover img, #cover .cover-placeholder {
      height: 10em;
      border: 2px solid <%= colors[1] %>;
      border-radius: 2px;
      margin: 1em;
    }

    #cover .cover-placeholder { width: 10em; }

    #coverzoom { display: none; }
    .zoom-overlay { display: none; }

    #coverzoom:checked + label > .zoom-overlay {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #00000033;
    }

    #coverzoom:checked + label  >.zoom-overlay > img {
      margin: auto;
      height: 60%;
      opacity: 100%;
    }

    .cover-placeholder {
      display: flex;
      background-color: <%= colors[0] %>;
    }

    .cover-placeholder .disc {
      margin: auto;
      display: flex;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      background-color: <%= colors[2] %>;
      opacity: 50%;
    }

    .cover-placeholder .disc .hole {
      margin: auto;
      width: 20%;
      height: 20%;
      border-radius: 50%;
      background-color: <%= colors[0] %>;
    }

    p {
      font-family: "Zen Maru Gothic", "Nunito", sans-serif;
      color: <%= colors[2] %>;
    }

    .l1 { font-size: 20pt; margin: 0.5em 0; }
    .l2 { font-size: 16pt; margin: 0.5em 0; }

    .highlight {
      color: <%= colors[1] %>;
      font-weight: 700;
    }

    .unknown {
      font-style: italic;
    }

    .alt .highlight { color: <%= colors[4] %> }
    .alt #cover img { border-color: <%= colors[4] %> }
    .alt p { color: <%= colors[5] %> }
  </style>
</head>
<body>
  <!--<%= colors[3] %>-->
  <section style="background-color: <%= colors[0] %>">
    <div id="cover">
      <input type="checkbox" id="coverzoom">
      <label for="coverzoom">
        <% if has_image %>
          <img src="static/<%= filename %>">
          <div class="zoom-overlay">
            <img src="static/<%= filename %>">
          </div>
        <% else %>
          <div class="cover-placeholder">
            <div class="disc">
              <div class="hole">
              </div>
            </div>
          </div>
        <% end %>
      </label>
    </div>
    <div id="data">
      <p class="l1"><span class="highlight<%= tags[:artist].nil? ? ' unknown' : '' %>"<% unless tags[:artistsort].nil? %> title="<%= tags[:artistsort] %>"<% end %>><%= tags[:artist] || 'Unknown artist' %></span> – <span class="highlight"><%= tags[:title] %></span></p>
      <p class="l2"><span class="highlight<%= tags[:album].nil? ? ' unknown' : '' %>"<% unless tags[:albumsort].nil? %> title="<%= tags[:albumsort] %>"<% end %>><%= tags[:album] || 'Unknown album' %></span><% if !tags[:album_artist].nil? && tags[:album_artist] != tags[:artist] && tags[:album_artist] != 'Various Artists' %> by <span class="highlight"<% unless tags[:albumartistsort].nil? %> title="<%= tags[:albumartistsort] %>"<% end %>><%= tags[:album_artist] %></span><% end %><% unless tags[:track].nil? %>, track <span class="highlight"><%= tags[:track] %></span>/<span class="highlight"><%= tags[:totaltracks] %></span><% end %></p>
      <p class="audio">
        <audio controls>
          <source src="static/<%= filename %>.ogg" type="audio/ogg">
          Your browser does not support the audio element.
        </audio>
      </p>
    </div>
  </section>
</body>
</html>
